*{
    padding: 0;
    margin: 0;
    font-family: 'Figtree';
}
.sort-input-radio{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.sort-input-radio p{
    font-size: 16px;
    font-weight: 400;
    color: rgb(0,45,24);
    cursor: pointer;
}
.custom-radio {
    display: flex;
    align-items: center;
    /* background-color: red; */
  }
  
  .radio-mark {
    height: 18px;
    width: 18px;
    border: 1px solid #555;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    margin-right: 10px;
    box-sizing: border-box;
    /* background-color: red; */
    cursor: pointer;
  }
  
  /* Dot inside when checked */
  .custom-radio input[type="radio"] {
    display: none;
  }
  
  .custom-radio input[type="radio"]:checked + .radio-mark::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 4px;
    background-color: black;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
  